[submodule "third-party/terarkdb"]
	path = third-party/terarkdb
	url = https://github.com/bytedance/terarkdb.git
[submodule "third-party/gorocksdb"]
	path = third-party/gorocksdb
	url = https://github.com/tecbot/gorocksdb.git
